support-for-ie = false
vendor-prefixes = official
flex-version = flex

global-reset()

@font-face
	font-family: 'spectrum-7'
	src: url('fonts/zx_spectrum-7.eot')
	src: local('☺'), url('fonts/zx_spectrum-7.woff') format('woff'), url('fonts/zx_spectrum-7.ttf') format('truetype'), url('fonts/zx_spectrum-7.svg') format('svg')
	font-weight: normal
	font-style: normal

:before, :after, *
	cursor inherit
	font-size inherit
	text-align inherit
	font-family inherit
	user-select inherit
	box-sizing border-box
	vertical-align top
	margin 0
	padding 0

body
	size 100%
	position absolute
	font-family spectrum-7
	overflow hidden
	user-select none

@keyframes radar-move
	from
		transform translateX(90em)
	to
		transform translateX(-10em)

@keyframes graph
	from
		transform translateX(0)
	to
		transform translateX(-50%)

@keyframes right-numbers
	from
		transform translateY(0)
	to
		transform translateY(-50%)

