:host
	absolute top 0 left 0
	size 100%
	z-index 1000
	flex-direction column
	justify-content center
	align-items center
	background-color rgba(black, 0.5)
	display none

	&.__active
		display flex

	.logo1
		size 40em 20em
		background-image url('./logo.jpg')
		background-size contain
		background-repeat no-repeat
		background-position center

	.logo2
		size 40em 20em
		background-image url('./logo2.jpg')
		background-size contain
		background-repeat no-repeat
		background-position center
		display flex
		flex-direction column
		justify-content center
		align-items center

	.video
		size 100%
		//background-image url('./logo.jpg')
		background-size contain
		background-repeat no-repeat
		background-position center
		background-color black




