:host
	$time = 0.3s
	display block
	background-color white
	absolute top 0 left 0
	width 100%
	opacity 0
	transition opacity $time, transform $time, max-height $time

	&.__prev
		pointer-events none
		transform translateX(2em)

	&.__next
		pointer-events none
		transform translateX(-2em)

	&.__active
		opacity 1
		position relative




