:host
	$time = 0.3s
	margin 0.5em
	display flex

	.container
		position relative
		display flex
		flex-grow 1

		&.__active

			.label
				transform scale(0.6) translate(-0.4em, -110%)
				color #aaa

		&.__error

			.input
				background-color #ac3e3d
				color white

			.label
				background-color #ac3e3d
				color white

		.input
			height 2em
			padding 0 0.5em
			outline none
			border solid 0.15em #555

		.label
			background-color white
			color #ccc
			absolute top 0 left 0.4em
			padding 0.1em 0.5em
			transform translateY(0.4em)
			transform-origin left
			pointer-events none
			transition transform $time, color $time
			will-change transform

