:host
	display block
	//background-color red
	display flex
	flex-direction row

	.page-number
		display inline-block
		background-color blue
		padding 0.25em 0.5em
		cursor pointer
		background-color #555
		background-image linear-gradient(rgba(black, 0), rgba(black, 0.15))
		text-shadow 0.03em 0.03em 0 rgba(black, 0.4)
		color white

		&.__active
			background-color greenyellow




