:host
	display block
	absolute top 0 right 0
	size 30em 7em
	pointer-events none
	background-image url('./texture.png')
	background-repeat no-repeat
	background-position top right
	background-size contain
	z-index 100
	box-shadow 0 0 10em black
	background-color black



