:host
	background-color black
	display block
	size 100%
	padding 0
	background-image radial-gradient(rgba(black, 0) 50%, black), url('./bg.jpg')
	background-size 100%, 4em auto
	background-position center, 49.9% center

	.black-screen
		absolute top 0 left 0
		z-index 101
		size 100%
		background-color black


