:host
	display block
	absolute top 0 left 0
	size 100%
	z-index 5
	pointer-events none

	.radar
		absolute top 0 left 0
		//background-color red
		height 100%
		width 13%
		opacity 0.44
		background-image url('./texture.png')
		background-size 100%
		animation radar-move 6s infinite linear

