:host
	display block
	absolute bottom 0 right 0
	size 15em 44em
	z-index 100
	overflow hidden
	pointer-events none
	border-top 3em solid black
	border-bottom 1em solid black
	box-shadow 0 0 10em black

	.numbers
		absolute top 0 left 0
		size 100% 200%
		background-image url('./texture.jpg')
		background-repeat repeat-y
		background-position center 10em
		background-size auto 50%
		animation right-numbers 30s steps(15) infinite



