:host
	$time = 0
	display block
	//background-color red
	size 20em
	display flex
	flex-direction column
	justify-content center
	align-items center
	perspective 30em
	transform translateX(10em)


	.pizza
		size 20em
		position relative
		//background-color blue
		transform-style preserve-3d
		transition transform $time
		will-change transform
		background-size contain
		background-position center
		background-repeat no-repeat
		background-image url('./pizza2.png')
		z-index 0

		.sprite
			//background-color rebeccapurple
			absolute top 7em left 11em
			size 2em
			transform-origin center
			background-size contain
			background-position center
			background-repeat no-repeat
			transform-style preserve-3d
			background-image url('./sprite1.png')
			transition transform $time
			will-change transform
			z-index 1

			&:before
				content ''
				absolute top 0 left 0
				size 100%
				z-index 0
				transform-origin center
				background-size contain
				background-position center
				background-repeat no-repeat
				background-image url('./sprite1-shadow.png')
				transform translateZ(-0.1em) scale(1.2)
				opacity 0.9







