:host
	//display flex
	flex-shrink 0
	width 10em
	flex-grow 1
	//background-color red
	//flex-direction column
	//background-image url('http://file.mobilmusic.ru/bf/2f/79/795141.jpg')
	//background-size cover

	.controls
		absolute top 0 left 0
		z-index 2

