:host
	absolute top 0 left 0
	size 100%
	z-index 1000
	flex-direction column
	justify-content center
	align-items center
	background-color black
	pointer-events none
	display none

	&.__active
		display flex

	.logo
		size 40em 15em
		background-image url('./logo.jpg')
		background-size contain
		background-repeat no-repeat
		background-position center
		position relative

		.sec
			absolute bottom 3.4em right 13em
			size 4em 3em
			background-size contain
			background-repeat no-repeat
			background-position center
			background-image url('./0.jpg')

	.game-over
		size 40em 15em
		background-image url('./game-over.jpg')
		background-size contain
		background-repeat no-repeat
		background-position center
		position relative


