:host

	&:before
		content ''
		display block
		absolute top 0 left 0
		size 100%
		background-image url('./texture.png')
		background-repeat no-repeat
		background-position center
		background-size contain
		transform scale(1.6) translateX(-5%)





