:host
	$time = 0.7s

	&:before
		background-color rgba(white, 1)
		box-shadow none
		transition opacity $time

	&.__active

		.content
			transition transform $time

		.panel
			transform translateY(0)

	.wrapper
		width 100%
		flex-grow 1
		display flex
		align-items center
		justify-content center
		flex-direction column
		position relative

	.content
		transition transform $time , opacity $time

		.scale
			transition transform $time

		.slide
			flex-grow 1
			position relative

	.panel
		flex-shrink 0
		size 100% 2.5em
		box-shadow 0 0 0.1em rgba(black, 0.5)
		background-color #666
		background-image linear-gradient(rgba(black, 0), rgba(black, 0.15))
		will-change transform
		transition transform $time
		transform translateY(100%)

		.previews
			display flex
			height 100%
			margin-left calc(50% - 1.5em)
			align-items stretch
			flex-direction row
			padding 0.2em 0
			transition transform $time
			will-change transform

			.preview
				margin-right 0.2em
				cursor pointer
				width 3em
				background-color white
				background-repeat no-repeat
				background-size cover

