:host
	$time = 0.3s
	absolute top 0 left 0
	size 100%
	z-index 1000
	perspective 10em
	display flex
	flex-direction column
	align-items center
	justify-content center
	pointer-events none

	&.__active
		pointer-events all

		.content
			transition transform $time

		.panel
			transform translateY(0) rotate3d(0, 0, 0, 0)

		.photo
		transition transform $time
		transform-origin top left
		will-change transform
		&.__dragging
			transition none !important

	.popup
		position relative

		&:before
			opacity 0 !important

		.photo-zoom
			display flex
			flex-direction column
			align-items center
			justify-content center
			transition transform $time
			transform-origin top left
			will-change transform

			.img
				height 20em
				display block
				box-shadow 0 0 1em rgba(black, 0.7)
				transform rotate3d(0, 0, 0, 0)

	.panel
		flex-shrink 0
		size 100% 2.5em
		box-shadow 0 0 0.1em rgba(black, 0.5)
		background-color #666
		background-image linear-gradient(rgba(black, 0), rgba(black, 0.15))
		will-change transform
		transition transform $time
		transform translateY(100%) rotate3d(0, 0, 0, 0)

		.previews
			display flex
			height 100%
			margin-left calc(50% - 1.5em)
			align-items stretch
			flex-direction row
			padding 0.2em 0
			transition transform $time
			will-change transform

			.preview
				margin-right 0.2em
				cursor pointer
				width 3em
				background-color white
				background-repeat no-repeat
				background-size cover



