:host
	display block
	flex-shrink 0
	z-index 1
	box-shadow 0 0 1em black

	.server-connection-error
		background-color #c5000a
		padding 0.5em
		text-align center
		color white
		background-image url('./reconnection.gif')
		background-size auto 100%
		text-shadow 0 0 0.2em black

