:host
	display inline-block
	background-color rebeccapurple
	position relative
	$time = 0.3s

	.container

		&.__active

			.label
				transform scale(0.6) translateY(-100%)
				color #aaa

		.label
			background-color white
			color #ccc
			absolute top 0 left 0.15em
			padding 0.1em 0.5em
			transform translateY(0.35em)
			transform-origin left
			transition transform $time, color $time
			pointer-events none

		.textarea
			//line-height 2em
			padding 0 0.5em
			outline none
			border solid 0.15em #555

