:host
	$time = 0.3s
	absolute top 0 left 0
	size 100%
	z-index 1000
	perspective 10em
	display flex
	align-items center
	justify-content center
	flex-direction column

	&:before
		content ''
		display block
		absolute top 0 left 0
		size 100%
		opacity 0
		transition opacity $time
		will-change opacity
		background-color rgba(black, 0.5)
		pointer-events none
		z-index -1

	&.__non-active
		pointer-events none

	&.__active

		&:before
			opacity 1

		.content
			opacity 1
			transition transform $time
			transform none

			.scale
				transform none

	.content
		opacity 0
		transition transform $time, opacity $time
		will-change transform, opacity
		transform rotateZ(-10deg) rotateY(20deg) translateX(-5em) scale(0.8)

		.scale
			transition transform $time
			will-change transform


