:host
	$time = 0.4s
	display block
	position relative
	absolute top 0 left 0
	size 100%
	background-size cover
	background-position center
	display flex
	flex-direction column
	background-color rebeccapurple

	.content
		flex-grow 1
		z-index 0
		transition filter $time
		will-change filter
		transform rotate3d(0, 0, 0, 0)
		//background-image linear-gradient(#444, #333)
		//background-image url('http://s-sd.ru/images/cms/thumbs/a5b0aeaa3fa7d6e58d75710c18673bd7ec6d5f6d/animfon_1200_auto_jpg.jpg')
		background-size cover

		&.__blur
			filter blur(5px)

		.home-page
			display flex
			flex-direction row

