:host
	cursor pointer
	padding 0.5em 1em
	color #333
	//background-color #ccc

	&:hover
		background-color rgba(black, 0.05)

	&.__active
		background-image linear-gradient(rgba(black, 0), rgba(black, 0.15))
		background-color #555
		color white



