:host
	$time = 0.5s
	display block
	position relative
	absolute top 0 left 0
	size 100%
	background-image url('http://www.fonstola.ru/large/201212/85308.jpg')
	background-size cover
	background-position center

