:host
	display inline-block

	.button
		margin 0

		.label
			padding-left 2em
			padding-right 0.5em
			margin-left -0.5em
			background-image url('folder.png')
			background-size contain
			background-position left center
			background-repeat no-repeat

		.input
			absolute top 0 left 0
			size 100%
			padding-left 200%
			outline none
			opacity 0

		.info
			padding 0 0.5em

			.name
				margin-left 1em

			.controls
				absolute top 0 left 0
				size 1em 100%
				display flex
				flex-direction column
				align-items stretch
				background-color #999
				background-image linear-gradient(rgba(black, 0), rgba(black, 0.15))

				&:hover
					background-color #aaa

				.reset
					flex-grow 1
					background-repeat no-repeat
					background-position center
					background-size 90% auto
					background-image url('cross.png')
					box-shadow 0 0 0.3em rgba(black, 0.3)



