:host
	$time = .3s
	display inline-block
	height 2em
	min-width 5em
	cursor pointer
	margin 0.5em 0.2em
	position relative
	//box-shadow 0.1em 0.1em 0.2em rgba(#000, 0.3)
	z-index 2

	&.__focus

		.wrapper
			transform none
			transition transform $time

			.options
				background-color white

				&:before
					opacity 1

	.wrapper
		height 16em
		margin-top -7em
		padding-top 7em
		transform-origin center
		transition transform $time
		transform scaleY(0.125)
		overflow hidden

		.options
			transition transform $time, background-color $time
			position relative

			&:before
				content ''
				display block
				absolute top 0 left 0
				size 0.5em 100%
				//opacity 0
				z-index 1
				background-color #444
				transition opacity $time


