support-for-ie = false
vendor-prefixes = official
flex-version = flex

global-reset()

:before, :after, *
	cursor inherit
	font-size inherit
	text-align inherit
	font-family inherit
	user-select inherit
	box-sizing border-box
	vertical-align top
	margin 0
	padding 0

body
	size 100%
	position absolute
	font-family Tahoma
	overflow hidden
	user-select none

input, textarea
	user-select text

