support-for-ie = false
vendor-prefixes = official
flex-version = flex

global-reset()

:before, :after, *
	cursor inherit
	font-size inherit
	text-align inherit
	font-family inherit
	user-select inherit
	box-sizing border-box
	vertical-align top
	margin 0
	padding 0

body
	position absolute
	size 100%
	font-family Tahoma
	overflow hidden
	user-select none

//background-color black

input, textarea
	user-select text

.canvas
	fixed top 5em left 5em
	z-index 9999
	//background-color red

