:host
	$time = 0.3s
	display block
	absolute top 0 left 0
	size 100%
	flex-grow 1
	opacity 0
	overflow hidden
	transition opacity $time, transform $time, max-height $time

	&.__prev
		pointer-events none
		transform translateX(-2em)

	&.__next
		pointer-events none
		transform translateX(2em)

	&.__active
		opacity 1
		position relative




