:host
	display block
	size 19.3em 7em
	absolute top 0.5em left 0.5em
	z-index 100
	background-image url('./bg.jpg')
	background-repeat no-repeat
	background-position center
	background-size contain
	overflow hidden
	pointer-events none
	box-shadow 0 0 10em black
	background-color black

	.graph
		absolute top 0.9em left 0
		size 200% 4.5em
		background-image url('./graph.png')
		background-repeat repeat-x
		background-position 5em center
		background-size auto 100%
		animation graph 10s steps(20) infinite






